@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700|Great+Vibes|Raleway&display=swap');


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

  .group:after {
  content: "";
  display: table;
  clear: both;
}

html, body { font-family: "Raleway", sans-sarif;
	font-size:16px;
	color: #474747;

}
main{
    min-height: 1100px;
}

/*--------------------------------------------general styles*/
.text-transform{
    text-transform: uppercase;
}

.lead-heading{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(137,216,240);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

.crd-button{
    border-radius: 10px;
    background-color: #d653d6;
    color: whitesmoke;
}

.headings{
    
    border-bottom: 2px solid rgb(137,216,240);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}
.headings small{
text-transform: lowercase;
font-size: small;
}
.sub-heading{
    text-decoration: underline;
    text-decoration-color: rgb(137,216,240);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
 }

 .center-align {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px;
  
}
.col-center{
     margin: auto;

}
 .reusable-card{ border: none;}

 .d-inline-block {
    display: inline-block!important;
    line-height: 2;
    letter-spacing: 1px;
 }

 .margin{
  margin-top: 15px;
 }
 

/*--------------------------------------------general styles*/

/*--------------------------------------------logo styles*/
  .navbar-brand{
      font-family: 'Great Vibes', cursive;
      color: whitesmoke;
      font-size: 22px;
  }
  a:hover {
      color: rgb(137,216,240);
      
  }


/*--------------------------------------------logo closed styles*/



 .container-fluid{
    padding: 0;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #cc52cc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all .40s ease-in-out;
}

.dropdown-menu a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all .40s ease-in-out;
}
.dropdown:hover .dropdown-menu {display: block;}

/*--------------------------------------------nav*/
.navbar-bg-color {
    background-color: #cc52cc;
  
}

#nav-logo {
     margin: 0;
}

#nav-logo #nav-ul{
    line-height: 30px;
   
}

#nav-ul {
    letter-spacing: 1px;
}


#nav-ul li a {
   color: whitesmoke;
   width: 100%;
}

.nav-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    margin-right: 15px;
    border-bottom: 1px solid whitesmoke;
    
}

.nav-item a i {
    padding-top: 22px;
    display: block;
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}
#nav-ul .nav-item a:hover{
    color: rgb(137,216,240);
}
#nav-ul .nav-item a i:hover{
    color: rgb(137,216,240);
}
.dropdown-toggle::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0px;
    border-left: 0.3em solid transparent;
}
/*--------------------------------------------nav*/
.navbar-toggler {
    font-size: 1.25rem;
    line-height: 1;
    background-color: wheat;
    padding: 0.25rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    border-radius: 0.25rem;
}
/*--------------------------------------------nav*/
/*--------------------------------------------hero-section*/
.hero-image{
  height: 100%;
   width: 100%;
    
  background-image: url("../assets/images/core.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation-name: hero-img;
  animation-duration: 7s;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
 }

 

 #hero-cover{
     height: 600px;
              width: 100%;
    overflow: hidden;
}

.image-content{
    color: whitesmoke;
   
    margin: auto;
   width: fit-content;
   border: none;
   padding: 10px;
   text-align: center;
   font-family: "Raleway", sans-sarif;
  
    top: 200px;
    background: rgba(255, 107, 255, 0.4);
  position:relative;
}
 
  @keyframes hero-img {
  from {
    transform: scale(1);

  }
  to {
    transform: scale(1.1);

  }
 }

/*--------------------------------------------hero-section*/

/*--------------------------------------------mid-section index.html*/

/**
.questions{
    width: 100%;
    margin: 50px auto;
}
.content-justify{
    justify-content: space-between !important;
}**/
 
.center {
  margin: auto;
  width: 80%;
  border: none;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;

  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: rgb(137,216,240);
  position:relative;
}
.button-align{
    margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
}
 .sec-align{
     position: relative;
 }

.question-sec {
 line-height: 4;
   margin: 15px;
    }
.question-sec li {
    list-style: none;
    text-align: justify;
}

.right {
  position: absolute;
  right: 0px;
  width: 324px;
  border: none;
  padding: 10px;
}
.left{
    width: 324px;
    border: none;
    padding: 10px;
}
 .img-container{
    width: 300px;
    height: 300px;
    border-style: solid;
    border-collapse: rgb(137,216,240);
    border-width: 1px;
    border-radius: 50%;
    margin: 20px;
}
 .img-background{
     background: no-repeat center center;
     border-radius: 50%;
     height: 100%;

 }
 .ask{
  width: 100%;
  max-width: 930px;
  margin: 50px auto;
  }
  .d-flex {display: flex !important;
  }
  .justify-content {
   justify-content: space-between !important;
   }

 .list-styl{
 list-style: none;
   padding-left: 0;
   }

 .ask ul li { position: relative;
   padding-left: 35px;
   line-height: 3;
 }

 .mid-sec{
  max-width: 700px;
  margin: 50px auto;
  }
 .sec-img{
  max-width: 300px;
  max-height: 300px;
  }
  .mid-sec-card{
    max-width: 300px;
    border: none;
  }
 /*--------------------------------------------form section*/

.form-main{
    width: 50%;
    margin: auto;
    border: none;
    padding: 10px;
}

.form-bg-image {
 
    width: 100%;
    
  background-image: url("../assets/images/woman-lifting-barbell.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 height: 1100px;
}
.form-align{
    margin: auto;
    width: 50%;
    color: whitesmoke;
    background: rgba(60, 60, 60, 0.6);
    position: relative; 
   
    top: 100px;
    padding: 30px;
    border: none;
}
.input-txt{
    background: transparent;
    color: whitesmoke;
    width: 100%;
    margin: 5px 0 20px;
    border: 1px solid white;
    border-radius: 3px;
}
.form-heading{
    background: transparent;
    color: whitesmoke;
    margin: 20px;

}
.label{
    margin-bottom: 0;
}
.custom-control-inline{
    margin: 15px;
}
 @media(max-width:420px) {
 .form-align{ width: 100%;
    top: 0; }
  }
  /*--------------------------------------------recipe card section*/

  .grid-item{
    margin-bottom: 20px;
    }
  

.grid-item:last-child{
    margin:0;
}


.btn:hover{
    color: whitesmoke;
    background: rgb(137,216,240);
}
/*--------------------------------------------recipe individual section*/

.recipe-content{
display: block;
margin: 0 auto;
}

#article-image{
    width: 100%;
}
/*--------------------------------------------success story*/


.success-sub-heading{
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
     font-size: 20px;
}
.success-bottom-margin{
    margin-bottom: 50px;
}
 /*--------------------------------------------footer*/
 footer {
    background-color: #cc52cc;
    min-height: 100px;
    margin: 0;
    color: whitesmoke;
    position: relative;
}


.social-links {
    padding-bottom: 10px;
}
.social-links li a i {
   
    width: 30px;
    height:30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: antiquewhite;
    background-color: #fa55fabb;
    transition: all .40s ease-in-out;
    -webkit-transition: all .40s ease-in-out;
    -moz-transition: all .40s ease-in-out;
    -o-transition: all .40s ease-in-out;

}
.social-links li a i:hover{
    background-color:rgb(137,216,240);
}
.inline-block{
    display: inline-block;
}
 
.social-heading{
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 20px;
    
}
 .footer-contact{
     text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin: 20px;
    text-align: end;

 }
.footer-link a {
    text-decoration: none;
    color: inherit;
   
}
.footer-link a i {
     width: 30px;
    height:30px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: antiquewhite;
    background-color: #fa55fabb;
    transition: all .40s ease-in-out;
    -webkit-transition: all .40s ease-in-out;
    -moz-transition: all .40s ease-in-out;
    -o-transition: all .40s ease-in-out;

}
.footer-link a i:hover{
     background-color:rgb(137,216,240);
 }

 

 .footer-align{
     position: relative;

 }
 .footer-right-align{
     position: absolute;
  right: 0px;
  
  border: none;
  

 }